name: "Create a comment to the merged pull request"
on:
  push:
    branches:
      - main
jobs:
  comment:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: "Dummy failed step"
        id: dummy-failed-step
        run: |
          echo "The dummy task was failed."
          exit 1
      # The step is triggered only when dummy-failed-step is failed.
      - uses: ./
        if: ${{ failure() }}
        id: merged-pr-info
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          message: |-
            The dummy task was failed.
